.eventList {
  .eventsWrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px 25px 25px;
    
    .eventCard {
      width: 100%;
      
      &:not(:last-of-type) {
        margin-bottom: 25px;
      }
    }
  }
  
  .filtersButtonWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .skeletonCard {
    border-radius: 5px;
    margin-bottom: 25px;
  }

  .filtersWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .input {
      width: 80%;
      margin-bottom: 15px;
      input {
        padding: 10px;
      }
    }

    .inputSelect {
      width: 80%; 
      margin-bottom: 15px;

      & > label,
      & > div {
        width: 100%;
      }
    }

    .dateRowWrapper {
      display: flex;
      justify-content: space-between;
    }
  }
}
