.homeWrapper {
  .menuIcon {
    color: #ffffff;
  }

  .toolbar {
    padding: 0;
    background: #707070;
  }

  .menuButton {
    padding-right: 0;
  }

  .headerTitle {
    flex-grow: 1;
  }

  .homeContentWrapper {
    margin-top: 25px;
  }

  .mainHeading {
    text-align: center;
  }

  .browseWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .browseIcon {
    font-size: 2rem;
  }
}