.homeWrapper {
  .menuIcon {
    color: #ffffff;
  }

  .toolbar {
    padding: 0;
    background: #707070;
  }

  .menuButton {
    padding-right: 0;
  }

  .headerTitle {
    flex-grow: 1;
  }

  .homeContentWrapper {
    padding-top: 25px;
  }

  .mainHeading {
    text-align: center;
    font-weight: bold;
  }

  .browseWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 30px;
  }

  .browseIcon {
    font-size: 2rem;
  }
}
