.container {
  .header {
    display: flex;
    // justify-content: center;
    align-items: center;
    padding: 1.5em;
    border-bottom: 1px solid black;

    picture {
      width: 100px;
      height: auto;
      margin-right: 2em;
      border: 4px solid #000000;
      border-radius: 15%;

      @media (max-width: 530px) {
        width: 60px;
      };
    };

    p {
      font-size: 2.5em;
      font-weight: bold;

      @media (max-width: 530px) {
        font-size: 1.2em;
      };
    };
  };

  .infoWrapper {
    padding: 1.5em;
  }

  .eventButtonWrapper {
    display: flex;
    justify-content: center;
  }
};
