.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;

    img {
      width: 100px;
      height: auto;
      border: 4px solid #000000;
      margin-right: 2em;
    };

    p {
      font-size: 2.5em;
      font-weight: bold;
      line-height: 50px;
    };
  };
};
