.toolbar {
  display: flex;
  flex-flow: row;
  padding: 10px;
  background: #424242;

  .menu {
    display: flex;
    align-items: center;
    flex-grow: 1;

    .icon {
      color: #ffffff;
    }
  }
}
